<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(_, ~{}, ~{}, ~{::div}, ~{::script})}">
<body>
<div>
    <div id="queuesInfo" class="echars"></div>
</div>
<script th:inline="javascript">

    var data = new Array([[${#lists.size(queueList)}]]);
    var queues = [[${queueList}]];
    var legendData = [];
    var queueInfoChar = echarts.init(document.getElementById('queuesInfo'));

    function onMessage(message) {
        // console.info("message=[" + message + "] type=[" + typeof(message) + "]");
        messageJson = JSON.parse(message);
        dataJson = messageJson["data"];
        var seriesData = [];
        for (var i = 0; i < data.length; i++) {
            if (data[i].length > 1800) {
                data[i].shift();
            }

            data[i].push(dataJson[i]);
            seriesData.push({data: data[i]});
        }


        // console.info("data=" + data);
        queueInfoChar.setOption({
            series: seriesData
        });
    }
    var series = [];
    for (var i = 0; i < data.length; i++) {
        data[i] = [];
        series.push({
            name: queues[i].name + ":" + queues[i].describe,
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
            data: data[i],
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'}
                ]
            },
            markLine: {
                silent: true,
                data: [{
                    yAxis: 100,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 1000,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 5000,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 10000,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 50000,
                    lineStyle: {
                        color: 'yellow'
                    }
                }, {
                    yAxis: 100000,
                    lineStyle: {
                        color: 'yellow'
                    }
                }, {
                    yAxis: 150000,
                    lineStyle: {
                        color: 'yellow'
                    }
                }, {
                    yAxis: 200000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 300000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 500000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 1000000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 2000000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 5000000,
                    lineStyle: {
                        color: 'red'
                    }
                }]
            }
        });
        legendData.push(queues[i].name + ":" + queues[i].describe);
    }


    option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                var result = params[0].value[0];
                for(var index in params) {
                    param = params[index];
                    result += '<br /><i style="width:16px;height:16px;border-radius:50%;background-color:' + param.color + ';display: inline-block;"></i>&nbsp;'
                        + param.seriesName + ':[' + param.value[1] + "]";
                }
                return result;
            },
            axisPointer: {
                type: 'cross'
            }
        },
        legend: {
            data: legendData
        },
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            }
        },
        series: series
    };

    queueInfoChar.setOption(option);
    openWebSocket(onMessage, undefined, [[${queueManager.id}]]);
</script>
</body>
</html>
