<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(_, ~{}, ~{}, ~{::div}, ~{::script})}">
<body>
<div>
    <div id="queuesInfo" class="echars"></div>
</div>
<script th:inline="javascript">

    var data = new Array([[${#lists.size(queueList)}]]);
    var queues = [[${queueList}]];
    var legendData = [];
    var queueInfoChar = echarts.init(document.getElementById('queuesInfo'));

    function onMessage(message) {
        // console.info("message=[" + message + "] type=[" + typeof(message) + "]");
        messageJson = JSON.parse(message);
        dataJson = messageJson["data"];
        var seriesData = [];
        for (var i = 0; i < data.length; i++) {
            if (data[i].length > 900) {
                data[i].shift();
            }

            data[i].push(dataJson[i]);
            seriesData.push({data: data[i]});
        }


        // console.info("data=" + data);
        queueInfoChar.setOption({
            series: seriesData
        });
    }
    var series = [];
    for (var i = 0; i < data.length; i++) {
        data[i] = [];
        series.push({
            name: queues[i].name + ":" + queues[i].describe,
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
            data: data[i],
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            }
        });
        legendData.push(queues[i].name + ":" + queues[i].describe);
    }


    option = {
        title: {
            text: '[[${queueManager.name}]]:[[${queueManager.describe}]]'
        },
        tooltip: {
            trigger: 'axis',
            // formatter: function (params) {
            //     params = params[0];
            //     return params.value[0] + '<br/>' + params.seriesName + ':[' + params.value[1] + "]";
            // },
            axisPointer: {
                animation: false
            }
        },
        legend: {
            data: legendData
        },
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: true
            }
        },
        series: series
    };

    queueInfoChar.setOption(option);
    openWebSocket(onMessage, undefined, [[${queueManager.id}]]);
</script>
</body>
</html>
