<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MQ大屏监控</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/common.css}">

</head>
<body style="background: transparent;">
    <div id="queuesInfo"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">

    var width = [[${width}]];
    var height = [[${height}]];
    var fontSize = [[${fontSize}]]
    $("#queuesInfo").css("width", width);
    $("#queuesInfo").css("height", height);
    var data = new Array([[${#lists.size(queueList)}]]);
    var queues = [[${queueList}]];
    var legendData = [];
    var queueInfoChar = echarts.init(document.getElementById('queuesInfo'));

    function onMessage(message) {
        // console.info("message=[" + message + "] type=[" + typeof(message) + "]");
        messageJson = JSON.parse(message);
        dataJson = messageJson["data"];
        var seriesData = [];
        for (var i = 0; i < data.length; i++) {
            if (data[i].length > 1800) {
                data[i].shift();
            }

            data[i].push(dataJson[i]);
            seriesData.push({data: data[i]});
        }


        // console.info("data=" + data);
        queueInfoChar.setOption({
            series: seriesData
        });
    }
    var series = [];
    for (var i = 0; i < data.length; i++) {
        data[i] = [];
        series.push({
            name: queues[i].name + ":" + queues[i].describe,
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
            data: data[i],
            markPoint: {
                data: [
                    {type: 'max', name: '最大值', label: {fontSize: fontSize}}
                ]
            },
            markLine: {
                silent: true,
                data: [{
                    yAxis: 100,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 1000,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 5000,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 10000,
                    lineStyle: {
                        color: 'green'
                    }
                }, {
                    yAxis: 50000,
                    lineStyle: {
                        color: 'black'
                    }
                }, {
                    yAxis: 100000,
                    lineStyle: {
                        color: 'black'
                    }
                }, {
                    yAxis: 150000,
                    lineStyle: {
                        color: 'black'
                    }
                }, {
                    yAxis: 200000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 300000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 500000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 1000000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 2000000,
                    lineStyle: {
                        color: 'red'
                    }
                }, {
                    yAxis: 5000000,
                    lineStyle: {
                        color: 'red'
                    }
                }]
            }
        });
        legendData.push(queues[i].name + ":" + queues[i].describe);
    }


    option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                var result = "<span style='font-size: " + fontSize + "px;'>" + params[0].value[0] + "</span>";
                for(var index in params) {
                    param = params[index];
                    result += '<br /><i style="width:' + fontSize + 'px;height:' + fontSize + 'px;border-radius:50%;background-color:' + param.color + ';display: inline-block;"></i>&nbsp;'
                        + "<span style='font-size: " + fontSize + "px;'>" + param.seriesName + ':[' + param.value[1] + "]</span>";
                }
                return result;
            },
            axisPointer: {
                type: 'cross',
                label: {
                    fontSize: fontSize
                }
            }
        },
        legend: {
            data: legendData,
            textStyle: {
                fontSize: fontSize
            }
        },
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            },
            axisLabel: {
                fontSize: fontSize
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            },
            axisLabel: {
                fontSize: fontSize
            }
        },
        series: series
    };

    queueInfoChar.setOption(option);
    openWebSocket(onMessage, undefined, [[${ids}]]);
</script>
</body>
</html>
