<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(_, ~{}, ~{::li}, ~{::div}, ~{::script})}">
<body>
<li class="nav-item">
    <a class="nav-link" href="#">测试</a>
</li>
<div>
    <h1>Hello World!</h1>
    <div>111</div>
</div>
<script>
    var wsServer = 'ws://127.0.0.1:8082/ws1?qid=100';
    var websocket = new WebSocket(wsServer);

    websocket.onopen = function() {
        console.info("websocket connect open")
    };

    websocket.onmessage = function (ev) {
        console.info("recv msg = " + ev.data);
    };

    websocket.onclose = function (ev) {
        console.info("websocket close")
    };
</script>
</body>
</html>
